/.vscode
BookStoreApi/bin/Debug/net6.0/BookStoreApi.dll

BookStoreApi/bin/Debug/net6.0/BookStoreApi.pdb
BookStoreApi/obj/BookStoreApi.csproj.nuget.dgspec.json
BookStoreApi/obj/project.nuget.cache
BookStoreApi/obj/Debug/net6.0/BookStoreApi.assets.cache
BookStoreApi/obj/Debug/net6.0/BookStoreApi.GeneratedMSBuildEditorConfig.editorconfig
.gitignore
Tests/WebApi.UnitTests/bin/Debug/net6.0/WebApi.UnitTests.dll
Tests/WebApi.UnitTests/bin/Debug/net6.0/WebApi.UnitTests.pdb
Tests/WebApi.UnitTests/obj/project.nuget.cache
Tests/WebApi.UnitTests/obj/WebApi.UnitTests.csproj.nuget.dgspec.json
Tests/WebApi.UnitTests/obj/Debug/net6.0/WebApi.UnitTests.assets.cache
Tests/WebApi.UnitTests/obj/Debug/net6.0/WebApi.UnitTests.dll
.gitignore
Tests/WebApi.UnitTests/obj/Debug/net6.0/WebApi.UnitTests.genruntimeconfig.cache
.gitignore
Tests/WebApi.UnitTests/obj/Debug/net6.0/ref/WebApi.UnitTests.dll
Tests/WebApi.UnitTests/obj/Debug/net6.0/refint/WebApi.UnitTests.dll
Tests/WebApi.UnitTests/WebApi.UnitTests.csproj
Tests/WebApi.UnitTests/bin/Debug/net6.0/CoverletSourceRootsMapping
Tests/WebApi.UnitTests/obj/Debug/net6.0/WebApi.UnitTests.assets.cache
Tests/WebApi.UnitTests/obj/Debug/net6.0/WebApi.UnitTests.csproj.AssemblyReference.cache
Tests/WebApi.UnitTests/obj/Debug/net6.0/WebApi.UnitTests.GeneratedMSBuildEditorConfig.editorconfig
MovieStoreApi/bin/Debug/net6.0/MovieStoreApi.dll
.gitignore
MovieStoreApi/obj/Debug/net6.0/MovieStoreApi.dll
MovieStoreApi/obj/Debug/net6.0/MovieStoreApi.pdb
MovieStoreApi/bin/Debug/net6.0/MovieStoreApi.pdb
MovieStoreApi/bin/Debug/net6.0/MovieStoreApi.dll
MovieStoreApi/obj/Debug/net6.0/MovieStoreApi.dll
MovieStoreApi/obj/Debug/net6.0/MovieStoreApi.csproj.CoreCompileInputs.cache
MovieStoreApi/obj/Debug/net6.0/MovieStoreApi.pdb
MovieStoreApi/obj/Debug/net6.0/ref/MovieStoreApi.dll
MovieStoreApi/obj/Debug/net6.0/refint/MovieStoreApi.dll
